/* 样式重置 */
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
input,a{outline:none;}
/* body样式 */
body{ font-family:"微软雅黑";font-size:12px;height:100%;border:1px solid #dcdcdc;}
/* 屏幕宽度425px，iphone6/7/8 75% */
html{font-size:23.53vw;height:100%;}


/* ------------------字体------------------ */
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



/* -------------------header---------------- */
header{
    height: 0.56rem;
    width:100%;
    background: #df2d2d;
    border-top:1px solid #b26c64;
    border-bottom:1px solid #b26c64;
    font-size: 0.19rem;
    color:#fff;
    line-height: 0.56rem;
    text-align: center;
    position: fixed;
    top:0;
}












/* -------------footer----------------- */
footer{
    height:0.53rem;
    width:100%;
    border-top:1px solid #e8dde3;
    position: fixed;
    bottom: 0;
}
.footerpart{
    width:33.3%;
    height:100%;
    float: left;
}
.footerpart em{
    display: inline-block;
    width:100%;
    height:0.35rem;
    text-align: center;
    line-height: 0.35rem;
    font-size: 0.22rem;
    color:#6a6a6a;
    font-weight: bold;
    /* background: red; */
}
.footerpart p{
    width:100%;
    height:0.18rem;
    color:#6a6a6a;
    text-align: center;
    line-height: 0.18rem;
    font-size: 0.1rem;
    /* background: yellow; */
}